p#notice= notice
p
  strong Name:
  = @user.name
= link_to 'Edit', edit_user_path(@user)
| |
= link_to 'Back', users_path
| |
= link_to 'Posts', user_posts_path(@user)
| |
= link_to 'Love', love_user_path
