p#notice= notice
p
  strong Name:
  = @user.name
button.btn.btn-warning type="button" = link_to 'Edit', edit_user_path(@user)
| &nbsp
button.btn.btn-succes type="button" = link_to 'Back', users_path
| &nbsp
button.btn.btn-primary type="button" = link_to 'Posts', user_posts_path(@user)
| &nbsp
button.btn.btn-default type="button" = link_to 'Prefers', love_user_path
